body {
  font-family: Arial;
}

/* Z-Index (semakin tinggi nilai nya maka dia yang akan diatas dari layer lainnya) */

.container {
  position: relative;
  top: 100px;
  z-index: 2;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: coral;
  z-index: 1;
}
