* {
  font-family: "Segoe UI";
}
.border-1 {
  border: 2px solid red;
  border-bottom-width: 4px;
}
/* solid */
#atas-solid {
  border-top-width: 4px;
  border-top-style: solid;
}
#bawah-solid {
  border-color: aqua;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}
/* double */
#bawah-double {
  border-color: blue;
  border-bottom-width: 4px;
  border-bottom-style: double;
}
/* dashed */
#bawah-dashed {
  border-color: red;
  border-bottom-width: 4px;
  border-bottom-style: dashed;
}
/* dotted */
#bawah-dotted {
  border-color: green;
  border-bottom-width: 4px;
  border-bottom-style: dotted;
}
/* groove */
#bawah-groove {
  border-color: navy;
  border-bottom-width: 4px;
  border-bottom-style: groove;
}
.border-2 {
  border-width: 20px; /* atas-bawah-kiri-kanan */
  border-color: pink;
  border-style: solid;
}
.border-3 {
  border-width: 20px 5px; /* atas-bawah kiri-kanan */
  border-color: pink;
  border-style: solid;
}
.border-4 {
  border-width: 20px 15px 10px 15px; /* atas kanan bawah kiri */
  border-color: pink;
  border-style: solid;
}
